<section class="banner">
    <div class="banner__container">
        <div class="container">
            <div class="banner__content">
                <div class="banner__content-left">
                    <h3 class="banner__content-title">Получите анонимную помощь прямо сейчас</h3>
                    <span class="banner__content-text">Современные солевые наркотики убивают за 1 год</span>
                    <div class="banner__content-wrapper">
                        <span class="banner__content-call">Круглосуточная горячая линия</span>
                        <a class="banner__content-tel" href="tel:89959998703">8 995 999 87 03</a>
                    </div>
                </div>
                <div class="banner__content-right">
                    <form class="form-banner">
                        <input name='catalogue' type='hidden' value='<?= $current_catalogue["Catalogue_ID"] ?>' />
                        <input name="BitrixID" type="hidden" value="<?= $current_catalogue[" BitrixID"] ?>
                        <input name='city' type='hidden' value='<?= $current_catalogue["Catalogue_Name"] ?>' />
                        <input name='cc' type='hidden' value='<?= $cc_order ?>' />
                        <input name='sub' type='hidden' value='<?= $sub_order ?>' />
                        <input name='mes' type='hidden' value='159' />
                        <input name='type' type='hidden' value='request' />
                        <input name="urlMessage" type="hidden" value="">
                        <input name="title_url_message" type="hidden" value="">
                        <div class="form-banner__row">
                            <div class="form-banner__input">
                                <input type="text" placeholder="Ваше имя" required name="params[name][]">
                            </div>
                            <div class="form-banner__input">
                                <input type="tel" inputmode="numeric" placeholder="Номер телефон" required
                                    name="params[phone][]">
                            </div>
                        </div>
                        <div class="form-banner__row">
                            <button type="submit" class="form-banner__btn site-btn btn-red">
                                <span> Получить консультацию </span>
                            </button>
                        </div>
                    </form>
                    <div class="form-banner__policy">
                        <p>Нажимая на кнопку ”Получить”, Вы даёте своё согласие на <a class="form-banner__link"
                                href="/policy/">Политикой конфиденциальности</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>