<section class="choosing-clinic section-offset">
  <div class="container">
      <div class="choosing-clinic__content text-block">
        <h2>Выбор клиники</h2>
        <strong>Государственный диспансер по месту жительства пациента – способ пройти лечение бесплатно. Он имеет большой список недостатков:</strong>
        <ul>
            <li>врач обязательно поставит пациента на учёт и сделает записи в амбулаторной карте, поэтому в дальнейшем аддикт не сможет получить водительские права и другие документы, для которых требуется «чистая» справка от нарколога;</li>
            <li>наркологи ограничены маленьким бюджетом, поэтому многие действенные лекарства и приборы им недоступны;</li>
            <li>специалисты из диспансера не выезжают на дом к больным: эту функцию берёт на себя служба «03», которая неохотно выезжает к нетрезвым больным;</li>
            <li>в диспансере нет реабилитационного центра.</li>
        </ul>
        <strong>Платная наркологическая клиника предлагает избавиться от аддикции:</strong>
        <ul>
            <li>анонимно;</li>
            <li>качественно;</li>
            <li>в комфортных условиях.</li>
        </ul>
        <strong>Наркологи оказывают услуги:</strong>
        <ul>
            <li>на дому и в стационаре;</li>
            <li>в загородном центре реабилитации;</li>
            <li>по современным программам терапии, разрабатываемым учёными в области наркологии, психиатрии, токсикологии.</li>
        </ul>
        <strong>От частных наркологических клиник, которые работают по одобренным Минздравом программам, важно отличать центры, не имеющие лицензии:</strong>
        <ul>
            <li>религиозные учреждения;</li>
            <li>различные платные и бесплатные пансионаты с «тюремным» режимом и насилием и т.д.</li>
        </ul>
         <strong>К сожалению, в России работает немало опасных ненадёжных организаций, предоставляющих медицинские услуги:</strong>
        <ul>
            <li>около 90% не имеют сертификации;</li>
            <li>около 80% берут на работу недипломированных врачей или выдают фельдшеров за наркологов с высшим профессиональным образованием;</li>
            <li>немало клиник использует в работе непроверенные и возможно опасные программы.</li>
        </ul>
        <p class="big-margin">Только безопасное и качественное лечение, которое учитывает волю пациента, является эффективным. Убедиться в надёжности платной наркологической клиники можно, проверив наличие всех необходимых документов: на сайте, на очном приёме и даже при вызове бригады.</p>
        <h3>Качественная наркологическая клиника в Казани</h3>
        <strong>Осмысленный выбор врача и клиники помогает быстро избавиться от аддикции и не допустить её рецидива. Надёжный центр помощи зависимым предлагает:</strong>
        <ul>
            <li>оборудованный стационар с круглосуточным наблюдением и реанимацией;</li>
            <li>выезд врачей по указанному в заявке адресу (на дом, в офис);</li>
            <li>организацию трансфера больному;</li>
            <li>разные методы кодирования от алкоголизма.</li>
        </ul>
        <p>Разумные цены в наркологической клинике в Казани позволяют воспользоваться услугами врачей каждому заинтересованному в быстром выздоровлении и пожизненной ремиссии человеку.</p>
        <p>Получить информацию о стоимости, отзывах и методикам можно по телефону или лично. Анонимная наркологическая клиника работает круглосуточно и без выходных, принимая на лечение всех нуждающихся в помощи пациентов, независимо от возраста и степени запущенности аддикции.</p>
    </div>
  </div>
</section>