<section class="clinic-services section-offset">
    <div class="container">
        <div class="clinic-services__content">
            <div class="clinic-services__title-wrapper">
                <h2 class="clinic-services__title title-h2">Услуги клиники</h2>
                <span class="clinic-services__title-text">Круглосуточная, анонимная помощь для зависимых и
                    созависимых!</span>
            </div>
            <div class="clinic-services__swiper swiper clinicServicesSwiper">
                <ul class="clinic-services__list swiper-wrapper">
                    <li class="clinic-services__item swiper-slide">
                        <a class="clinic-services__item-link" href="#">
                            <div class="clinic-services__item-left">
                                <picture>
                                    <source srcset="assets/img/img-service-1.jpg" type="image/webp">
                                    <img src="assets/img/img-service-1.jpg" loading="lazy" alt="Картинка услуг">
                                </picture>
                            </div>
                            <div class="clinic-services__item-right">
                                <span class="clinic-services__item-title">Вывод из запоя</span>
                                <p class="clinic-services__item-text">Медицинский подход к лечению зависимых пациентов, он осуществляется опытными наркологами нашей клиники</p>
                                <div class="clinic-services__item-bottom">
                                    <div class="clinic-services__item-price">От 2500 ₽</div>
                                    <span class="clinic-services__space">
                                        <picture>
                                          <source srcset="assets/img/icons/icon-arrows-right.svg" type="image/webp">
                                          <img src="assets/img/icons/icon-arrows-right.svg" loading="lazy" alt="Стрелочка">
                                        </picture>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="clinic-services__item swiper-slide">
                        <a class="clinic-services__item-link" href="#">
                            <div class="clinic-services__item-left">
                                <picture>
                                    <source srcset="assets/img/img-service-2.jpg" type="image/webp">
                                    <img src="assets/img/img-service-2.jpg" loading="lazy" alt="Картинка услуг">
                                </picture>
                            </div>
                            <div class="clinic-services__item-right">
                                <span class="clinic-services__item-title">Вывод из запоя</span>
                                <p class="clinic-services__item-text">Медицинский подход к лечению зависимых пациентов, он осуществляется опытными наркологами нашей клиники</p>
                                <div class="clinic-services__item-bottom">
                                    <div class="clinic-services__item-price">От 2500 ₽</div>
                                    <span class="clinic-services__space">
                                        <picture>
                                          <source srcset="assets/img/icons/icon-arrows-right.svg" type="image/webp">
                                          <img src="assets/img/icons/icon-arrows-right.svg" loading="lazy" alt="Стрелочка">
                                        </picture>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="clinic-services__item swiper-slide">
                        <a class="clinic-services__item-link" href="#">
                            <div class="clinic-services__item-left">
                                <picture>
                                    <source srcset="assets/img/img-service-3.jpg" type="image/webp">
                                    <img src="assets/img/img-service-3.jpg" loading="lazy" alt="Картинка услуг">
                                </picture>
                            </div>
                            <div class="clinic-services__item-right">
                                <span class="clinic-services__item-title">Вывод из запоя</span>
                                <p class="clinic-services__item-text">Медицинский подход к лечению зависимых пациентов, он осуществляется опытными наркологами нашей клиники</p>
                                <div class="clinic-services__item-bottom">
                                    <div class="clinic-services__item-price">От 2500 ₽</div>
                                    <span class="clinic-services__space">
                                        <picture>
                                          <source srcset="assets/img/icons/icon-arrows-right.svg" type="image/webp">
                                          <img src="assets/img/icons/icon-arrows-right.svg" loading="lazy" alt="Стрелочка">
                                        </picture>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="clinic-services__item swiper-slide">
                        <a class="clinic-services__item-link" href="#">
                            <div class="clinic-services__item-left">
                                <picture>
                                    <source srcset="assets/img/img-service-4.jpg" type="image/webp">
                                    <img src="assets/img/img-service-4.jpg" loading="lazy" alt="Картинка услуг">
                                </picture>
                            </div>
                            <div class="clinic-services__item-right">
                                <span class="clinic-services__item-title">Вывод из запоя</span>
                                <p class="clinic-services__item-text">Медицинский подход к лечению зависимых пациентов, он осуществляется опытными наркологами нашей клиники</p>
                                <div class="clinic-services__item-bottom">
                                    <div class="clinic-services__item-price">От 2500 ₽</div>
                                    <span class="clinic-services__space">
                                        <picture>
                                          <source srcset="assets/img/icons/icon-arrows-right.svg" type="image/webp">
                                          <img src="assets/img/icons/icon-arrows-right.svg" loading="lazy" alt="Стрелочка">
                                        </picture>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>