<section class="effective-treatment section-offset">
  <div class="container">
    <h2 class="effective-treatment__title title-h2">Эффективное лечение в комфортных условиях</h2>
    <div class="effective-treatment__content text-block">
        <p>Комплексная терапия наркотической и алкогольной зависимости - действенный способ борьбы с аддикциями любой степени тяжести. Эффект зависит не только от лекарств: важно доверие между наркологом и больным, а также индивидуальный подход, учитывающий особенности характера и здоровья пациента.</p>
        <p class="big-margin">Наша наркология более 5 лет спасает зависимых и возвращает их к полноценной жизни. Основные профили нашей работы — <a>вывод из запоя,</a> <a>лечение алкоголизма,</a> кодирование, лечение наркомании. Если у вас есть даже намёк на зависимость, немедленно звоните нам!</p>
        <img srcset="assets/img/img-text-block.jpg" type="image/webp">
        <h3>Как происходит лечение алкоголизма и наркомании?</h3>
        <strong>Избавление от патологической зависимости протекает по программе из нескольких этапов:</strong>
        <ul>
            <li>диагностика и восстановление работы органов;</li>
            <li>диагностика и восстановление работы органов;</li>
            <li>диагностика и восстановление работы органов;</li>
        </ul>
        <p>Длительность лечения составляет от 4 месяцев до года, при этом самым длинным этапом является реабилитация. Она преображает личность аддикта, избавляет его от психологических проблем, учит ценить свою жизнь и противостоять соблазнам.</p>
        <strong>Современная наркология предлагает стандартный протокол терапии, который предусматривает перечисленные этапы освобождения от зависимости. Но процедуры, включаемые в каждый этап, назначаются в зависимости от:</strong>
        <ul>
            <li>возраста;</li>
            <li>возраста;</li>
            <li>возраста;</li>
            <li>возраста;</li>
        </ul>
        <p>Случай каждого пациента уникален: у двух зависимых, употребляющих алкоголь или наркотики одинаковое время и в одинаковом количестве, схемы лечения бывают кардинально разными. Первый пациент с помощью привычки будет пытаться избавиться от стеснительности, стрессов, переживаний на фоне ссор с близкими – в его случае будет преобладать психологический компонент зависимости. У другого пациента, который не способен отказаться от аддикции из-за выраженного абстинентного синдрома, напротив, будет преобладать физический компонент.</p>
        <p>Именно поэтому обойтись без помощи врача невозможно: только специалист может выявить особенности клинической картины пациента и назначить действенный способ лечения.</p>
    </div>
  </div>
</section>