<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__left">
                <picture>
                  <source srcset="assets/img/icons/icon-footer-logo.svg" type="image/webp">
                  <img src="assets/img/icons/icon-footer-logo.svg" loading="lazy" alt="Картинка">
                </picture>
                <div class="footer__left-wrapper">
                    <ul class="footer__left-list">
                        <li class="footer__left-item">
                            <a class="footer__left-link" href="#">Политика конфиденциальности</a>
                        </li>
                        <li class="footer__left-item">
                            <a class="footer__left-link" href="#">Пользовательское соглашение</a>
                        </li>
                        <li class="footer__left-item">
                            <a class="footer__left-link" href="#">Карта сайта</a>
                        </li>
                    </ul>
                    <div class="footer__left-socials">
                        <picture class="">
                          <source srcset="assets/img/icons/icon-footer-tg.svg" type="image/webp">
                          <img src="assets/img/icons/icon-footer-tg.svg" loading="lazy" alt="Картинка">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="footer__middle">
                <div class="footer__middle-wapper">
                    <span class="footer__middle-title">Услуги</span>
                    <ul class="footer__middle-list">
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Вывод из запоя</a>
                        </li>
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Нарколог на дом</a>
                        </li>
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Капельница от запоя</a>
                        </li>
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Капельница от запоя</a>
                        </li>
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Капельница от запоя</a>
                        </li>
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Капельница от запоя</a>
                        </li>
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Капельница от запоя</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__middle-wapper">
                    <span class="footer__middle-title">Клиника</span>
                    <ul class="footer__middle-list">
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Вывод из запоя</a>
                        </li>
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Нарколог на дом</a>
                        </li>
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Капельница от запоя</a>
                        </li>
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Капельница от запоя</a>
                        </li>
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Капельница от запоя</a>
                        </li>
                        <li class="footer__middle-item">
                            <a class="footer__middle-link" href="#">Капельница от запоя</a>
                        </li>
                    </ul>
                </div>
                <ul class="footer__middle-list footer__middle-list--title">
                    <li class="footer__middle-item">
                        <a class="footer__middle-title" href="#">Цены</a>
                    </li>
                    <li class="footer__middle-item">
                        <a class="footer__middle-title" href="#">Акции</a>
                    </li>
                    <li class="footer__middle-item">
                        <a class="footer__middle-title" href="#">Статьи</a>
                    </li>
                </ul>
            </div>
            <div class="footer__right">
                <div class="header__middle-tel">
                    <picture class="header__middle-tel-icon">
                        <source srcset="assets/img/icons/icon-tel.svg" type="image/webp">
                        <img src="assets/img/icons/icon-tel.svg" loading="lazy" alt="Картинка">
                    </picture>
                    <div class="header__middle-tel-phone">
                        <a class="header__middle-tel-number" href="tel:89959998703">8 995 999 87 03</a>
                    </div>
                </div>
    
                <div class="header__middle-location">
                    <picture class="header__middle-location-icon">
                        <source srcset="assets/img/icons/icon-locations.svg" type="image/webp">
                        <img src="assets/img/icons/icon-locations.svg" loading="lazy" alt="Картинка">
                    </picture>
                    <div class="header__middle-location-geo">
                        <a class="header__middle-location-city">Казань, улица Бутлерова, 44</a>
                    </div>
                </div>
                <button class="header__middle-button btn-red popup-btn" data-path="popup-change">Заказать звонок</button>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <p class="footer__bottom-text">«Медицинские услуги предоставляет: ООО "Ресурс-М" по лицензии Л041-01181-16/00340737, ИНН 1612008696, ОГРН 1141675001082, Казань, пгт. Балтаси, ул.Сайдашева, 7, пом. 1 Действуют мобильные медицинские бригады.  Вся информация на сайте не является публичной офертой и несет сугубо информационный характер. Она не служит для постановки диагноза и назначения лечения. © НАРКОЛОГИЧЕСКАЯ КЛИНИКА «СИГМА», 2023</p>
        </div>
    </div>
</footer>
