<section class="help-card section-offset">
  <div class="container">
    <div class="help-card__content">
      <div class="help-card__content-left">
        <sapn class="help-card__content-title">Позвольте вам помочь!</sapn>
        <span class="help-card__content-text">Свяжитесь с нами сейчас и вы успеете спасти близкого человека</span>
         <button class="help-card__content-button btn-red popup-btn" data-path="popup-change">Получить консультацию</button>
      </div>
      <div class="help-card__content-right">
        <picture class="help-card__content-right-img">
          <source srcset="assets/img/img-doctors.jpg" type="image/webp">
          <img src="assets/img/img-doctors.jpg" loading="lazy" alt="Иконка телефона">
        </picture>
      </div>
    </div>
  </div>
</section>