<section class="licenses section-offset">
    <div class="container">
        <div class="licenses__content">
            <div class="licenses__content-left">
                <h2 class="licenses__content-title title-h2">Лицензии клиники</h2>
                <span class="licenses__content-text">Доверьте свое здоровье сертифицированным специалистам высшей квалификации</span>
                <div class="licenses__wrapper-buttons">
                    <div class="licenses__pagination">
                        <span class="licenses__swiper-pagination"></span>
                    </div>
                    <button class="licenses__swiper-button licenses__swiper-button-prev" type="button">
                        <picture class="licenses__icon-button-swiper">
                          <source srcset="/assets/img/icons/icon-swiper-left.svg" type="image/webp">
                          <img src="assets/img/icons/icon-swiper-left.svg" loading="lazy" alt="Стрелочка">
                        </picture>
                    </button>
                    <button class="licenses__swiper-button licenses__swiper-button-next" type="button">
                        <picture class="licenses__icon-button-swiper">
                          <source srcset="/assets/img/icons/icon-swiper-right.svg" type="image/webp">
                          <img src="assets/img/icons/icon-swiper-right.svg" loading="lazy" alt="Стрелочка">
                        </picture>
                    </button>
                </div>
            </div>
            <div class="licenses__content-right swiper licensesSwiper">
                <ul class="licenses__list swiper-wrapper">
                    <li class="licenses__item swiper-slide">
                        <picture class="">
                          <source srcset="assets/img/img-license.jpg" type="image/webp">
                          <img src="assets/img/img-license.jpg" loading="lazy" alt="Картинка">
                        </picture>
                    </li>
                    <li class="licenses__item swiper-slide">
                        <picture class="">
                          <source srcset="assets/img/img-license.jpg" type="image/webp">
                          <img src="assets/img/img-license.jpg" loading="lazy" alt="Картинка">
                        </picture>
                    </li>
                    <li class="licenses__item swiper-slide">
                        <picture class="">
                          <source srcset="assets/img/img-license.jpg" type="image/webp">
                          <img src="assets/img/img-license.jpg" loading="lazy" alt="Картинка">
                        </picture>
                    </li>
                    <li class="licenses__item swiper-slide">
                        <picture class="">
                          <source srcset="assets/img/img-license.jpg" type="image/webp">
                          <img src="assets/img/img-license.jpg" loading="lazy" alt="Картинка">
                        </picture>
                    </li>
                    <li class="licenses__item swiper-slide">
                        <picture class="">
                          <source srcset="assets/img/img-license.jpg" type="image/webp">
                          <img src="assets/img/img-license.jpg" loading="lazy" alt="Картинка">
                        </picture>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>