<section class="low-prices section-offset">
  <div class="container">
      <h2 class="low-prices__title title-h2">Почему нельзя соглашаться на самые низкие цены?</h2>
    <div class="low-prices__content">
      <div class="low-prices__content-left">
        <ul class="low-prices__list">
            <li class="low-prices__item">
                <span class="low-prices__item-title">Лечение</span>
                <p class="low-prices__item-text">Условия не пригодные для нахождения пациентов: старые совдеповские палаты с деревянными окнами, из которых дует зимой.</p>
                <span class="low-prices__item-title-color">Мы предлагаем:</span>
                <p class="low-prices__item-text">Комфортабельные палаты с полноценным питанием, ежедневной уборкой и всеми удобствами.</p>
            </li>
            <li class="low-prices__item">
                <span class="low-prices__item-title">Программы</span>
                <p class="low-prices__item-text">Отсутствие индивидуального подхода.</p>
                <span class="low-prices__item-title-color">Мы предлагаем:</span>
                <p class="low-prices__item-text">Комплексный подход к лечению, подразумевающий работу с каждым пациентом, партнеры клиники помогают с трудоустройством.</p>
            </li>
            <li class="low-prices__item">
                <span class="low-prices__item-title">Персонал</span>
                <p class="low-prices__item-text">Не все сотрудники имеют опыт работы с зависимыми пациентами.</p>
                <span class="low-prices__item-title-color">Мы предлагаем:</span>
                <p class="low-prices__item-text">Профессиональную наркологическую помощь, и только квалифицированный персонал.</p>
            </li>
            <li class="low-prices__item">
                <span class="low-prices__item-title">Взаимодействие с родными</span>
                <p class="low-prices__item-text">Лечение проходит только с пациентом, он остается без поддержки близких.</p>
                <span class="low-prices__item-title-color">Мы предлагаем:</span>
                <p class="low-prices__item-text">Работа с родственниками входит в базовую программу реабилитации.</p>
            </li>
        </ul>
      </div>
      <div class="low-prices__content-right">
        <picture>
          <source srcset="assets/img/img-doctors-2.jpg" type="image/webp">
          <img src="assets/img/img-doctors-2.jpg" loading="lazy" alt="Доктора">
        </picture>
      </div>
    </div>
  </div>
</section>