<section class="price-table section-offset">
  <div class="container">
    <h2 class="price-table__title title-h2">Стоимость лечения</h2>
    <table class="price-table__table">
        <tbody>
            <tr>
                <td><span class="price-table__name">Базовый</span></td>
                <td><span class="price-table__price">2800 ₽</span></td>
                <td><button class="price-table__service">Заказать услугу</button></td>
            </tr>
            <tr>
                <td><span class="price-table__name">Усиленный</span></td>
                <td><span class="price-table__price">4800 ₽</span></td>
                <td><button class="price-table__service">Заказать услугу</button></td>
            </tr>
            <tr>
                <td><span class="price-table__name">Интенсивный</span></td>
                <td><span class="price-table__price">7300 ₽</span></td>
                <td><button class="price-table__service">Заказать услугу</button></td>
            </tr>
            <tr>
                <td><span class="price-table__name">VIP</span></td>
                <td><span class="price-table__price">от 16 800 ₽</span></td>
                <td><button class="price-table__service">Заказать услугу</button></td>
            </tr>
            <tr>
                <td><span class="price-table__name">Детоксикация организма</span></td>
                <td><span class="price-table__price">от 3000 ₽</span></td>
                <td><button class="price-table__service">Заказать услугу</button></td>
            </tr>
        </tbody>
    </table>
  </div>
</section>