<section class="question-answer section-offset">
    <div class="container">
        <h2 class="question-answer__title title-h2">Вопросы и ответы</h2>
        <div class="question-answer__list">
            <div class="question-answer__item-wrapper">
                <div class="question-answer__item accordion">
                    <span class="question-answer__item-title">В какое время можно обратиться за помощью?</span>
                    <span class="question-answer__item-space">
                        <span class="question-answer__item-icon"></span>
                    </span>
                </div>
                <div class="accordion__content">
                    <div class="question-answer__item-content">
                        <p>Чем быстрее пациент обратится к наркологу, тем быстрее справится с зависимостью и вернётся к
                            трезвости. По статистике, большинство пациентов начинают лечение на II стадии алкоголизма, когда
                            тяга к спиртному приводит к запоям. Но намного эффективнее приступить к терапии на первой стадии,
                            когда формируется психологическая тяга — устойчивая связь между опьянением и удовольствием.
                            Современный подход делает наркологическую терапию действенным на любой стадии зависимости, но при
                            запущенной форме лечиться придётся дольше.</p>
                    </div>
                </div>
            </div>
            <div class="question-answer__item-wrapper">
                <div class="question-answer__item accordion">
                    <span class="question-answer__item-title">В какое время можно обратиться за помощью?</span>
                    <span class="question-answer__item-space">
                        <span class="question-answer__item-icon"></span>
                    </span>
                </div>
                <div class="accordion__content">
                    <div class="question-answer__item-content">
                        <p>Чем быстрее пациент обратится к наркологу, тем быстрее справится с зависимостью и вернётся к
                            трезвости. По статистике, большинство пациентов начинают лечение на II стадии алкоголизма, когда
                            тяга к спиртному приводит к запоям. Но намного эффективнее приступить к терапии на первой стадии,
                            когда формируется психологическая тяга — устойчивая связь между опьянением и удовольствием.
                            Современный подход делает наркологическую терапию действенным на любой стадии зависимости, но при
                            запущенной форме лечиться придётся дольше.</p>
                    </div>
                </div>
            </div>
            <div class="question-answer__item-wrapper">
                <div class="question-answer__item accordion">
                    <span class="question-answer__item-title">В какое время можно обратиться за помощью?</span>
                    <span class="question-answer__item-space">
                        <span class="question-answer__item-icon"></span>
                    </span>
                </div>
                <div class="accordion__content">
                    <div class="question-answer__item-content">
                        <p>Чем быстрее пациент обратится к наркологу, тем быстрее справится с зависимостью и вернётся к
                            трезвости. По статистике, большинство пациентов начинают лечение на II стадии алкоголизма, когда
                            тяга к спиртному приводит к запоям. Но намного эффективнее приступить к терапии на первой стадии,
                            когда формируется психологическая тяга — устойчивая связь между опьянением и удовольствием.
                            Современный подход делает наркологическую терапию действенным на любой стадии зависимости, но при
                            запущенной форме лечиться придётся дольше.</p>
                    </div>
                </div>
            </div>
            <div class="question-answer__item-wrapper">
                <div class="question-answer__item accordion">
                    <span class="question-answer__item-title">В какое время можно обратиться за помощью?</span>
                    <span class="question-answer__item-space">
                        <span class="question-answer__item-icon"></span>
                    </span>
                </div>
                <div class="accordion__content">
                    <div class="question-answer__item-content">
                        <p>Чем быстрее пациент обратится к наркологу, тем быстрее справится с зависимостью и вернётся к
                            трезвости. По статистике, большинство пациентов начинают лечение на II стадии алкоголизма, когда
                            тяга к спиртному приводит к запоям. Но намного эффективнее приступить к терапии на первой стадии,
                            когда формируется психологическая тяга — устойчивая связь между опьянением и удовольствием.
                            Современный подход делает наркологическую терапию действенным на любой стадии зависимости, но при
                            запущенной форме лечиться придётся дольше.</p>
                    </div>
                </div>
            </div>
            <div class="question-answer__item-wrapper">
                <div class="question-answer__item accordion">
                    <span class="question-answer__item-title">В какое время можно обратиться за помощью?</span>
                    <span class="question-answer__item-space">
                        <span class="question-answer__item-icon"></span>
                    </span>
                </div>
                <div class="accordion__content">
                    <div class="question-answer__item-content">
                        <p>Чем быстрее пациент обратится к наркологу, тем быстрее справится с зависимостью и вернётся к
                            трезвости. По статистике, большинство пациентов начинают лечение на II стадии алкоголизма, когда
                            тяга к спиртному приводит к запоям. Но намного эффективнее приступить к терапии на первой стадии,
                            когда формируется психологическая тяга — устойчивая связь между опьянением и удовольствием.
                            Современный подход делает наркологическую терапию действенным на любой стадии зависимости, но при
                            запущенной форме лечиться придётся дольше.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>