<section class="reviews-slider section-offset">
    <div class="container">
        <div class="reviews-slider__container">
            <div class="reviews-slider__title-wrapper">
                <div class="reviews-slider__title">
                    <p>Что о нас говорят</p>
                </div>
                <div class="reviews-slider__wrapper-buttons">
                    <button class="reviews-slider__swiper-button reviews-slider__swiper-button-prev" type="button">
                        <picture class="reviews-slider__icon-button-swiper">
                            <source srcset="/assets/img/icons/icon-swiper-left.svg" type="image/webp">
                            <img src="assets/img/icons/icon-swiper-left.svg" loading="lazy" alt="Стрелочка">
                        </picture>
                    </button>
                    <button class="reviews-slider__swiper-button reviews-slider__swiper-button-next" type="button">
                        <picture class="reviews-slider__icon-button-swiper">
                            <source srcset="/assets/img/icons/icon-swiper-right.svg" type="image/webp">
                            <img src="assets/img/icons/icon-swiper-right.svg" loading="lazy" alt="Стрелочка">
                        </picture>
                    </button>
                </div>
            </div>
        </div>
        <div class="reviews-slider__wrapper">
            <div class="reviews-slider__swipper-wrapper swiper swiperReviewsSlider">
                <div class="reviews-slider__items swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="reviews-slider__item">
                            <div class="reviews-slider__item-top">
                                <div class="reviews-slider__item-main">
                                    <div class="reviews-slider__item-name">
                                        <p>Брагина Анна Вячеславовна, 31 год</p>
                                    </div>
                                    <div class="reviews-slider__item-text">
                                        <p>Брат уже 3 года употребляет спайс. Вся жизнь превратилась в череду постоянных
                                            скандалов, краж из дома. Его неадекватность стала просто пугать. А однажды
                                            дома у брата случилась сильная «ломка». Вызвали наркологов из клиники
                                            «Сигма». Специалисты сработали четко и слаженно, оказав помощь прямо на
                                            дому. Затем провели с братом мотивационную беседу, и он согласился на
                                            лечение! Огромное спасибо за вашу помощь!
                                            Брат уже 3 года употребляет спайс. Вся жизнь превратилась в череду постоянных
                                            скандалов, краж из дома. Его неадекватность стала просто пугать. А однажды
                                            дома у брата случилась сильная «ломка». Вызвали наркологов из клиники
                                            «Сигма». Специалисты сработали четко и слаженно, оказав помощь прямо на
                                            дому. Затем провели с братом мотивационную беседу, и он согласился на
                                            лечение! Огромное спасибо за вашу помощь!
                                        </p>
                                    </div>
                                    <button class="reviews-slider__item-view btn-more" type="button">
                                       Читать полностью
                                    </button>
                                </div>
                            </div>
                            <div class="reviews-slider__item-bottom"> 
                                <div class="reviews-slider__item-date">
                                    <p>20.06.2023</p>
                                </div>
                            </div>
                            <picture class="reviews-slider__item-picture">
                                <source srcset="/assets/img/icons/icon-reviews.svg" type="image/svg+xml">
                                <img src="/assets/img/icons/icon-reviews.svg" alt="" loading="lazy">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews-slider__item">
                            <div class="reviews-slider__item-top">
                                <div class="reviews-slider__item-main">
                                    <div class="reviews-slider__item-name">
                                        <p>Брагина Анна Вячеславовна, 31 год</p>
                                    </div>
                                    <div class="reviews-slider__item-text">
                                        <p>Брат уже 3 года употребляет спайс. Вся жизнь превратилась в череду постоянных
                                            скандалов, краж из дома. Его неадекватность стала просто пугать. А однажды
                                            дома у брата случилась сильная «ломка». Вызвали наркологов из клиники
                                            «Сигма». Специалисты сработали четко и слаженно, оказав помощь прямо на
                                            дому.</p>
                                    </div>
                                    <button class="reviews-slider__item-view btn-more" type="button">
                                       Читать полностью
                                    </button>
                                </div>
                            </div>
                            <div class="reviews-slider__item-bottom">
                                <div class="reviews-slider__item-date">
                                    <p>20.06.2023</p>
                                </div>
                            </div>
                            <picture class="reviews-slider__item-picture">
                                <source srcset="/assets/img/icons/icon-reviews.svg" type="image/svg+xml">
                                <img src="/assets/img/icons/icon-reviews.svg" alt="" loading="lazy">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews-slider__item">
                            <div class="reviews-slider__item-top">
                                <div class="reviews-slider__item-main">
                                    <div class="reviews-slider__item-name">
                                        <p>Брагина Анна Вячеславовна, 31 год</p>
                                    </div>
                                    <div class="reviews-slider__item-text">
                                        <p>Брат уже 3 года употребляет спайс. Вся жизнь превратилась в череду постоянных
                                            скандалов, краж из дома. Его неадекватность стала просто пугать. А однажды
                                            дома у брата случилась сильная «ломка». Вызвали наркологов из клиники
                                            «Сигма». Специалисты сработали четко и слаженно, оказав помощь прямо на
                                            дому. Затем провели с братом мотивационную беседу, и он согласился на
                                            лечение! Огромное спасибо за вашу помощь!</p>
                                    </div>
                                    <button class="reviews-slider__item-view btn-more" type="button">
                                       Читать полностью
                                    </button>
                                </div>
                            </div>
                            <div class="reviews-slider__item-bottom">
                                <div class="reviews-slider__item-date">
                                    <p>20.06.2023</p>
                                </div>
                            </div>
                            <picture class="reviews-slider__item-picture">
                                <source srcset="/assets/img/icons/icon-reviews.svg" type="image/svg+xml">
                                <img src="/assets/img/icons/icon-reviews.svg" alt="" loading="lazy">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews-slider__item">
                            <div class="reviews-slider__item-top">
                                <div class="reviews-slider__item-main">
                                    <div class="reviews-slider__item-name">
                                        <p>Брагина Анна Вячеславовна, 31 год</p>
                                    </div>
                                    <div class="reviews-slider__item-text">
                                        <p>Брат уже 3 года употребляет спайс. Вся жизнь превратилась в череду постоянных
                                            скандалов, краж из дома. Его неадекватность стала просто пугать. А однажды
                                            дома у брата случилась сильная «ломка». Вызвали наркологов из клиники
                                            «Сигма». Специалисты сработали четко и слаженно, оказав помощь прямо на
                                            дому. Затем провели с братом мотивационную беседу, и он согласился на
                                            лечение! Огромное спасибо за вашу помощь!</p>
                                    </div>
                                    <button class="reviews-slider__item-view btn-more" type="button">
                                       Читать полностью
                                    </button>
                                </div>
                            </div>
                            <div class="reviews-slider__item-bottom">
                                <div class="reviews-slider__item-date">
                                    <p>20.06.2023</p>
                                </div>
                            </div>
                            <picture class="reviews-slider__item-picture">
                                <source srcset="/assets/img/icons/icon-reviews.svg" type="image/svg+xml">
                                <img src="/assets/img/icons/icon-reviews.svg" alt="" loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>