<section class="service-cards section-offset">
  <div class="container">
   <div class="service-cards__content swiper cardsSwiper">
            <ul class="service-cards__list swiper-wrapper">
                <li class="service-cards__item swiper-slide">
                     <span class="service-cards__item-title">Капельница «Базовая»</span>
                     <ul class="service-cards__internal-list">
                        <li class="service-cards__internal-item">Осмотр, диагностика, кардиограмма</li>
                        <li class="service-cards__internal-item">Капельница 1 этап, от 1 часа</li>
                        <li class="service-cards__internal-item">Успокоительные</li>
                        <li class="service-cards__internal-item">Детоксикационные</li>
                        <li class="service-cards__internal-item">Обезболивающие</li>
                        <li class="service-cards__internal-item">Противорвотные</li>
                        <li class="service-cards__internal-item">Препараты на 3 дня</li>
                        <li class="service-cards__internal-item">Срочный вызов 24/7</li>                        
                     </ul>
                     <span class="service-cards__item-price">1800 ₽</span>
                </li>
                <li class="service-cards__item service-cards__item--green swiper-slide">
                     <span class="service-cards__item-title">Капельница «Усиленная»</span>
                     <ul class="service-cards__internal-list">
                        <li class="service-cards__internal-item">Осмотр, диагностика, кардиограмма</li>
                        <li class="service-cards__internal-item">Капельница 1 этап, от 1 часа</li>
                        <li class="service-cards__internal-item">Успокоительные</li>
                        <li class="service-cards__internal-item">Детоксикационные</li>
                        <li class="service-cards__internal-item">Обезболивающие</li>
                        <li class="service-cards__internal-item">Противорвотные</li>
                        <li class="service-cards__internal-item">Препараты на 3 дня</li>
                        <li class="service-cards__internal-item">Срочный вызов 24/7</li>                        
                     </ul>
                     <span class="service-cards__item-price">3800 ₽</span>
                </li>
                <li class="service-cards__item service-cards__item--dark-blue swiper-slide">
                     <span class="service-cards__item-title">Капельница «Интенсивная»</span>
                     <ul class="service-cards__internal-list">
                        <li class="service-cards__internal-item">Осмотр, диагностика, кардиограмма</li>
                        <li class="service-cards__internal-item">Капельница 1 этап, от 1 часа</li>
                        <li class="service-cards__internal-item">Успокоительные</li>
                        <li class="service-cards__internal-item">Детоксикационные</li>
                        <li class="service-cards__internal-item">Обезболивающие</li>
                        <li class="service-cards__internal-item">Противорвотные</li>
                        <li class="service-cards__internal-item">Препараты на 3 дня</li>
                        <li class="service-cards__internal-item">Срочный вызов 24/7</li>                        
                     </ul>
                     <span class="service-cards__item-price">6300 ₽ ₽</span>
                </li>
            </ul>
        </div>
  </div>
</section>