<section class="stages-treatment section-offset">
  <div class="container">
    <div class="stages-treatment__content">
      <h2 class="stages-treatment__title title-h2">6 этапов лечения зависимости</h2>
      <div class="stages-treatment__wrapper swiper stagesTreatmentSwiper">
        <ul class="stages-treatment__list swiper-wrapper">
          <li class="stages-treatment__item swiper-slide">
            <picture class="stages-treatment__img">
              <source srcset="assets/img/stages-treatment-1.jpg" type="image/webp">
              <img src="assets/img/stages-treatment-1.jpg" loading="lazy" alt="Консуьтация">
            </picture>
            <span class="stages-treatment__item-title"><span class="stages-treatment__number">1.</span> Бесплатная
              анонимная консультация</span>
            <p class="stages-treatment__text">Составление плана лечения, способствующего быстрому выздоровлени</p>
          </li>
          <li class="stages-treatment__item swiper-slide">
            <picture class="stages-treatment__img">
              <source srcset="assets/img/stages-treatment-2.jpg" type="image/webp">
              <img src="assets/img/stages-treatment-2.jpg" loading="lazy" alt="Консуьтация">
            </picture>
            <span class="stages-treatment__item-title"><span class="stages-treatment__number">2.</span> Вызов врача на
              дом</span>
            <p class="stages-treatment__text">Составление плана лечения, способствующего быстрому выздоровлени</p>
          </li>
          <li class="stages-treatment__item swiper-slide">
            <picture class="stages-treatment__img">
              <source srcset="assets/img/stages-treatment-3.jpg" type="image/webp">
              <img src="assets/img/stages-treatment-3.jpg" loading="lazy" alt="Консуьтация">
            </picture>
            <span class="stages-treatment__item-title"><span class="stages-treatment__number">3.</span> Детоксикация в
              условиях стационара</span>
            <p class="stages-treatment__text">Составление плана лечения, способствующего быстрому выздоровлени</p>
          </li>
          <li class="stages-treatment__item swiper-slide">
            <picture class="stages-treatment__img">
              <source srcset="assets/img/stages-treatment-4.jpg" type="image/webp">
              <img src="assets/img/stages-treatment-4.jpg" loading="lazy" alt="Консуьтация">
            </picture>
            <span class="stages-treatment__item-title"><span class="stages-treatment__number">4.</span> Реабилитационный
              центр</span>
            <p class="stages-treatment__text">Составление плана лечения, способствующего быстрому выздоровлени</p>
          </li>
          <li class="stages-treatment__item swiper-slide">
            <picture class="stages-treatment__img">
              <source srcset="assets/img/stages-treatment-5.jpg" type="image/webp">
              <img src="assets/img/stages-treatment-5.jpg" loading="lazy" alt="Консуьтация">
            </picture>
            <span class="stages-treatment__item-title"><span class="stages-treatment__number">5.</span>
              Ресоциализация</span>
            <p class="stages-treatment__text">Составление плана лечения, способствующего быстрому выздоровлени</p>
          </li>
          <li class="stages-treatment__item swiper-slide">
            <picture class="stages-treatment__img">
              <source srcset="assets/img/stages-treatment-6.jpg" type="image/webp">
              <img src="assets/img/stages-treatment-6.jpg" loading="lazy" alt="Консуьтация">
            </picture>
            <span class="stages-treatment__item-title"><span class="stages-treatment__number">6.</span> Амбулаторное
              лечение</span>
            <p class="stages-treatment__text">Составление плана лечения, способствующего быстрому выздоровлени</p>
          </li>
        </ul>
      </div>
      <div class="stages-treatment__wrapper-button">
        <button class="stages-treatment__button btn-red popup-btn" data-path="popup-change">Оставить заявку</button>
      </div>
    </div>
  </div>
</section>