<section class="stages-work section-offset">
  <div class="container">
    <div class="stages-work__content">
    <h2 class="stages-work__title title-h2">Этапы нашей работы</h2>
      <ul class="stages-work__list">
        <li class="stages-work__item">
          <picture>
            <source srcset="assets/img/icons/icon-hand-tel.svg" type="image/webp">
            <img src="assets/img/icons/icon-hand-tel.svg" loading="lazy" alt="Рука с телефоном">
          </picture>
          <div class="stages-work__item-right">
            <span class="stages-work__number">01</span>
            <span class="stages-work__text">Входящая заявка</span>
          </div>
        </li>
        <li class="stages-work__item">
          <picture>
            <source srcset="assets/img/icons/icon-tablet.svg" type="image/webp">
            <img src="assets/img/icons/icon-tablet.svg" loading="lazy" alt="Планшет с надписями">
          </picture>
          <div class="stages-work__item-right">
            <span class="stages-work__number">02</span>
            <span class="stages-work__text">Сбор анамнеза</span>
          </div>
        </li>
        <li class="stages-work__item">
          <picture>
            <source srcset="assets/img/icons/icon-car.svg" type="image/webp">
            <img src="assets/img/icons/icon-car.svg" loading="lazy" alt="Скорая помощь">
          </picture>
          <div class="stages-work__item-right">
            <span class="stages-work__number">03</span>
            <span class="stages-work__text">Выезд врачей</span>
          </div>
        </li>
        <li class="stages-work__item">
          <picture>
            <source srcset="assets/img/icons/icon-money.svg" type="image/webp">
            <img src="assets/img/icons/icon-money.svg" loading="lazy" alt="Деньги">
          </picture>
          <div class="stages-work__item-right">
            <span class="stages-work__number">04</span>
            <span class="stages-work__text">Оплата услуг</span>
          </div>
        </li>
        <li class="stages-work__item">
          <picture>
            <source srcset="assets/img/icons/icon-drip.svg" type="image/webp">
            <img src="assets/img/icons/icon-drip.svg" loading="lazy" alt="Капельница">
          </picture>
          <div class="stages-work__item-right">
            <span class="stages-work__number">05</span>
            <span class="stages-work__text">Оказание помощи</span>
          </div>
        </li>
        <li class="stages-work__item">
          <picture>
            <source srcset="assets/img/icons/icon-operator.svg" type="image/webp">
            <img src="assets/img/icons/icon-operator.svg" loading="lazy" alt="Оператор">
          </picture>
          <div class="stages-work__item-right">
            <span class="stages-work__number">06</span>
            <span class="stages-work__text">Проверка качества</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>