<section class="start-treatment section-offset">
    <div class="container">
        <div class="start-treatment__content">
            <h2 class="start-treatment__title title-h2">Как начать лечение?</h2>
            <ul class="start-treatment__list">
                <li class="start-treatment__item">
                    <picture>
                        <source srcset="assets/img/icons/icon-1.svg" type="image/webp">
                        <img src="assets/img/icons/icon-1.svg" loading="lazy" alt="Цифра 1">
                    </picture>
                    <div class="start-treatment__item-wrapper">
                        <span class="start-treatment__item-title">Бесплатная консультация</span>
                        <span class="start-treatment__item-text">Оставьте заявку на сайте или позвоните нам</span>
                    </div>
                </li>
                <li class="start-treatment__item start-treatment__item--color">
                    <picture>
                        <source srcset="assets/img/icons/icon-2.svg" type="image/webp">
                        <img src="assets/img/icons/icon-2.svg" loading="lazy" alt="Цифра 2">
                    </picture>
                    <div class="start-treatment__item-wrapper">
                        <span class="start-treatment__item-title">Подбор услуги и программы</span>
                        <span class="start-treatment__item-text">Наши консультанты помогут вам подобрать правильную
                            программу</span>
                    </div>
                </li>
                <li class="start-treatment__item">
                    <picture>
                        <source srcset="assets/img/icons/icon-3.svg" type="image/webp">
                        <img src="assets/img/icons/icon-3.svg" loading="lazy" alt="Цифра 3">
                    </picture>
                    <div class="start-treatment__item-wrapper">
                        <span class="start-treatment__item-title">Начало лечения и восстановления</span>
                        <span class="start-treatment__item-text">Наши консультанты помогут вам подобрать правильную
                            программу</span>
                    </div>
                </li>
            </ul>
            <div class="start-treatment__wrapper-button">
                <button class="start-treatment__button btn-red popup-btn" data-path="popup-change">Оставить заявку</button>
            </div>
        </div>
    </div>
</section>